<div class="content">
    <div class="Rectangle">
        <p class="New-course">New course</p>
        <div class="row">
            <div class="Tag-it-component">Title</div>
            <div class="required">*required</div>
        </div>
        <input type="text" class="input-title" [(ngModel)]="title" placeholder="Text-input">
        <div class="row">
            <div class="Tag-it-component">Description</div>
            <div class="required">*required</div>
        </div>
        <input type="text" class="input-description" [(ngModel)]="description" placeholder="Add description">
        <div class="row-duration">
            <div class="Tag-it-component">Duration</div>
            <div class="required">*required</div>
        </div>
        <input type="text" class="input-duration" [(ngModel)]="duration" placeholder="minutes">
        <div class="row-duration">
            <div class="Tag-it-component">Date</div>
            <div class="required">*required</div>
        </div>
        <input type="text" class="input-duration" [(ngModel)]="date" placeholder="dd/MM/yyyy">
        <div class="row-author">
            <div class="Tag-it-component">Authors</div>
            <div class="required">*required</div>
        </div>
        <input type="text" class="input-author" [(ngModel)]="authors" placeholder="Start typing">
        <div class="row">
            <button class="Cancel" type="button" (click)="Cancel()">Cancel</button>
            <button class="Save" type="button" (click)="Add()">Save</button>
        </div>
    </div>
</div>