<div class="bg">
    <div class="header_bg">
    <div class="title">
        Delete course?
    </div>
    </div>
    <div class=".Are-you-sure-you-wan">
        Do you really want to delete this course? Yes/No
    </div>
    <table>
        <tr>
            <th>
                <button class="button_bg-0-18-2-18 Cancel" (click)="onClosePopup()">
                Cancel
                </button>
            </th>
            <th>
                <button class="button_bg-0-18-2-18-2 Save" (click)="onConfirmPopup()">
                    Yes, delete
                </button>
            </th>   
        </tr>
      </table>
</div>