<div *ngIf="courses.length > 0">
    <app-toolbar (searchCourses)="onSearchCourses($event)"></app-toolbar>
    <app-course *ngFor="let course of courses | orderBy" 
    [course] = "course"
    (deleteCourse)="onDelete($event)"></app-course>
    <app-more [numberOfCoursesOnPage]="courses.length" (updateCoursesList)="updateCoursesList()"></app-more>
</div>

<div *ngIf="courses.length === 0"><p>NO DATA. FEEL FREE TO ADD NEW COURSE</p></div>

<div id="xmas-popup" class="popup">
    <div class="popup-content">
        <app-popup [id2delete]="id2delete" (closes)="onClose()" (confirm)="onConfirm($event)">
        </app-popup>
    </div>
</div>