<div class="Rectangle" [appCoursePlateBorder]="course.creationDate" 
                        [ngClass]="{'TopRated': course.topRated}">
    <div class="title">
        <p> 
            <span class="Video-Course-1-Name">{{course.title | uppercase}}</span>
            <span id="topRated" *ngIf="course.topRated">
                <i class="material-icons">star</i>
            </span>
            <span class="label">
                <span class="h-28-min">{{course.duration | timePretty }}</span>
                <span class="h-28-min"> - </span>
                <span class="-Nov-2018">{{course.creationDate | date:'dd MMMM yyyy'}}</span>
            </span>
        </p>
    </div>
    <div class="description">
        <div class="Learn-about-where-yo">
            {{course.description}}
        </div>
        <div class="control">
            <button class="Mask">Edit</button>
            <button class="Mask button-delete" (click)="onDeleteCourse()">Delete</button>
        </div>
    </div>
</div>